<!DOCTYPE html>
<html lang="en" ng-app="lkMod"><!--赋值app初始name-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../bootstrap.css">
    <title>Title</title>
</head>
<div ng-controller="lkCtrl">
    <input type="text" ng-model="a" >
    <select name="" id="" ng-model="op">
        <options>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </options>
    </select>
    <input type="text" ng-model="b" >
    <button type="button" ng-click="cal()" >=</button>
    {{result}}
</div>
</div>
<script src="../angular.js"></script>
<script>
    angular.module('lkMod',[])
            .controller('lkCtrl', function($scope,lkCalculator){
                $scope.cal = function () {
//                    $scope.result = lkCalculator[$scope.op]($scope.a,$scope.b);
                    $scope.result = lkCalculator($scope.a,$scope.op,$scope.b);
                }
            })
    angular.module('lkMod')
            .provider('lkCalculator', function () {
                var currency = '美元';
                this.setCurrency = function (curr) {
                    currency = curr;
                }
                this.$get = function () {
//                    return {
//                        '+':function (a,b){return a+b;},
//                        '-':function (a,b){return a-b;},
//                        '*':function (a,b){return a*b;},
//                        '/':function (a,b){return a/b;}
//                    }
//                    var calc = {};
//                    ['+','-','*','/'].forEach(function (op) {
//                        calc[op] = new Function('a','b','return a'+op+'b');
//                    })
//                    return calc;
//                    return new Function('a','op','b','return eval(a+op+b);');
                    return function (a,op,b) {
                        return currency + eval(a+op+b);
                    }
                }
            }).config(function (lkCalculatorProvider) {
                lkCalculatorProvider.setCurrency('人民币');
            })

    //1、注册  2、配置   3、注入
</script>
</html>